.section-map {
    position: relative;
    padding: 180px 0;

    &::before {
        content: "V";
        //помещаем букву на середину окна + половину контейнера
        right: calc(50% + 550px);
        //теперь подвинем контейнер влево на половину своей ширины по стороне x
        transform: translate(50%, 0%);

        @include decorNumber;
        top: 150px;
    }
}

.section-map__title {
    margin-bottom: 88px;
}



.section-map__map {
}

.map {
    height: 358px;
    background: #626262;
}